[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "1.1.2"
flask-sqlalchemy = "3.3.7.1"
flask-bootstrap = "2.5.1"

[dev-packages]

[requires]
python_version = "3.6"
